 .u-section-1 {
  background-image: linear-gradient(#ca5d01, #fbeced);
}

.u-section-1 .u-sheet-1 {
  min-height: 677px;
}

.u-section-1 .u-shape-1 {
  width: 570px;
  height: 493px;
  background-image: none;
  margin: 81px 269px 0 auto;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-family: "Abril Fatface";
  font-size: 3rem;
  margin: -477px 327px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 198px;
  height: 198px;
  margin: 30px auto 0 316px;
}

.u-section-1 .u-text-2 {
  font-family: "Arbutus Slab";
  font-size: 1.5rem;
  margin: -182px 276px 0 514px;
}

.u-section-1 .u-text-3 {
  font-family: "Arbutus Slab";
  font-size: 1.875rem;
  margin: 30px 350px 60px 382px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 269px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 414px;
    margin-right: 176px;
    width: 420px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 282px;
    margin-right: 250px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 304px;
    margin-right: 66px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 172px;
    margin-right: 140px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 190px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 82px;
    margin-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 142px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 13px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1195px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1227px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1508px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1402px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1677px;
}

.u-section-3 .u-shape-1 {
  width: 317px;
  height: 362px;
  margin: 196px auto 0;
}

.u-section-3 .u-text-1 {
  font-family: "Arbutus Slab";
  font-size: 3rem;
  margin: -222px 310px 0 470px;
}

.u-section-3 .u-group-1 {
  width: 741px;
  min-height: 741px;
  margin: 113px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 285px;
  height: 250px;
  margin: 18px 18px 0 auto;
}

.u-section-3 .u-text-2 {
  font-family: "Arbutus Slab";
  font-size: 2.25rem;
  margin: -219px 0 0 503px;
}

.u-section-3 .u-text-3 {
  font-family: "Arbutus Slab";
  font-size: 6rem;
  margin: -171px 387px 0 18px;
}

.u-section-3 .u-image-2 {
  width: 515px;
  height: 317px;
  margin: 8px auto 0 106px;
}

.u-section-3 .u-shape-2 {
  width: 570px;
  height: 177px;
  text-align: start;
  margin: 73px auto 0;
}

.u-section-3 .u-text-4 {
  font-family: "Arbutus Slab";
  font-size: 3rem;
  text-align: start;
  margin: -116px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-3 .u-text-1 {
    margin-right: 210px;
    margin-left: 370px;
  }

  .u-section-3 .u-text-3 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 100px;
    margin-left: 260px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    min-height: 720px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 482px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 377px;
    margin-left: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 10px;
    margin-left: 170px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    min-height: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 302px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 205px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-left: 25px;
  }

  .u-section-3 .u-shape-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    min-height: 340px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 42px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 102px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -196px;
    margin-right: 5px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 209px;
    margin-top: 147px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1913px;
}

.u-section-4 .u-shape-1 {
  width: 570px;
  height: 153px;
  margin: 12px auto 0;
}

.u-section-4 .u-text-1 {
  font-family: "Arbutus Slab";
  margin: -132px auto 0;
}

.u-section-4 .u-text-2 {
  font-family: "Arbutus Slab";
  font-size: 2.25rem;
  margin: 95px -28px 0 -49px;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 855px;
  margin: 59px auto 60px 265px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1868px;
  }

  .u-section-4 .u-shape-1 {
    width: 540px;
    margin-top: -82px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 810px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1568px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
    margin-top: 218px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 510px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1654px;
}

.u-section-5 .u-shape-1 {
  width: 730px;
  height: 228px;
  margin: 317px 168px 0 auto;
}

.u-section-5 .u-text-1 {
  font-family: "Arbutus Slab";
  font-size: 4.5rem;
  margin: -181px 194px 0 auto;
}

.u-section-5 .u-slider-1 {
  width: 1058px;
  min-height: 832px;
  height: auto;
  margin: 268px 26px 60px auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-carousel-item-1 {
  margin: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 15px;
}

.u-section-5 .u-image-1 {
  width: 819px;
  height: 491px;
  object-position: 100% 50%;
  margin: 13px auto 0;
}

.u-section-5 .u-text-2 {
  font-family: "Arbutus Slab";
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 189px 0 auto;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 40px auto 0 259px;
  padding: 28px 131px 29px 130px;
}

.u-section-5 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 27px;
}

.u-section-5 .u-image-2 {
  height: 736px;
  object-position: 50% 100%;
  width: 938px;
  margin: -155px auto 0;
}

.u-section-5 .u-text-4 {
  text-align: start;
  font-family: "Arbutus Slab";
  font-size: 3rem;
  margin: 0 28px;
}

.u-section-5 .u-text-5 {
  margin: 0;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 6px auto 0;
  padding: 28px 131px 29px 130px;
}

.u-section-5 .u-carousel-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 20px;
}

.u-section-5 .u-image-3 {
  height: 664px;
  width: 880px;
  object-position: 50% 0%;
  margin: -115px auto 0 56px;
}

.u-section-5 .u-text-6 {
  font-family: "Arbutus Slab";
  font-size: 1.5rem;
  margin: -448px 294px 0 535px;
}

.u-section-5 .u-text-7 {
  font-family: "Arbutus Slab";
  font-size: 3.75rem;
  margin: 380px auto 0 40px;
}

.u-section-5 .u-text-8 {
  font-family: "Arbutus Slab";
  font-size: 1.25rem;
  margin: 0 364px 0 321px;
}

.u-section-5 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 6px auto 0 256px;
  padding: 28px 131px 29px 130px;
}

.u-section-5 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-5 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1614px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 318px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -172px;
  }

  .u-section-5 .u-slider-1 {
    width: 940px;
    min-height: 792px;
    margin-top: 259px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    height: 492px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 59px;
  }

  .u-section-5 .u-image-2 {
    height: 696px;
    width: 887px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -207px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    margin-left: 19px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 194px;
    margin-left: 435px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 264px;
    margin-left: 221px;
  }

  .u-section-5 .u-btn-3 {
    margin-left: 56px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1542px;
  }

  .u-section-5 .u-shape-1 {
    width: 720px;
    margin-top: 433px;
    margin-right: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: -287px;
  }

  .u-section-5 .u-slider-1 {
    width: 720px;
    min-height: 619px;
  }

  .u-section-5 .u-image-1 {
    width: 691px;
    height: 415px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    height: 523px;
    width: 667px;
  }

  .u-section-5 .u-image-3 {
    height: 512px;
    width: 679px;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-top: -296px;
    margin-right: 84px;
    margin-left: 325px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 154px;
    margin-left: 111px;
  }

  .u-section-5 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1422px;
  }

  .u-section-5 .u-shape-1 {
    width: 540px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 146px;
  }

  .u-section-5 .u-slider-1 {
    width: 540px;
    min-height: 499px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    width: 520px;
    height: 312px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 142px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 408px;
    width: 520px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 392px;
    width: 520px;
  }

  .u-section-5 .u-text-6 {
    margin-top: -176px;
    margin-right: 4px;
    margin-left: 245px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 74px;
    margin-left: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1470px;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
    margin-top: 523px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -377px;
    margin-right: 92px;
  }

  .u-section-5 .u-slider-1 {
    min-height: 342px;
    margin-top: 464px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    width: 320px;
    height: 192px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 87px;
  }

  .u-section-5 .u-image-2 {
    height: 251px;
    width: 320px;
  }

  .u-section-5 .u-image-3 {
    height: 241px;
    width: 320px;
  }

  .u-section-5 .u-text-6 {
    margin-top: -25px;
    margin-right: 0;
    margin-left: 49px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }
}